$background-color: #073b4c;
$dark-color: #052C39;
$light-color: #265462;
$white: rgba(255, 255, 255, 0.85);
$white2: rgba(255, 255, 255, 0.5);

:root {
    --color1: #ef476f;
    --color2: #ffd166;
    --color3: #06d6a0;
    --font1: 'Kumbh Sans', sans-serif;
    --font2: 'Newsreader', serif;
    --font3: 'Comfortaa', cursive;
}