$background-color: #073b4c;
$white: #fff;

:root {
    --color1: #ef476f;
    --color2: #ffd166;
    --color3: #06d6a0;
    --font1: 'Kumbh Sans', sans-serif;
    --font2: 'Newsreader', serif;
    --font3: 'Comfortaa', cursive;
}