@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Kumbh+Sans:wght@300;400;700&family=Newsreader:wght@300;400;700&display=swap');
@import './_Vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 18px;
    background: $background-color;
    color: $white;
}